Repository bounswe/bounswe2018group5, pull requests merged in 2019-01, with the labels that each got.

#356 HOTFIX - Fix api/tag GET endpoint
  backend/api/semantic_tags.py
Labels: Effort: Low, Platform: API, Priority: Critical, Status: Completed, Type: Bug

#358 Add tags to portfolio create endpoint
  backend/user/views.py
Labels: Effort: Low, Platform: API, Priority: Critical, Status: Completed, Type: Enhancement

#355 messaging endpoints are implemented- #352
  backend/api/recommendation_engine.py
  backend/api/semantic_tags.py
  backend/api/utils.py
  backend/user/models.py
  backend/user/urls.py
  backend/user/views.py
Labels: Effort: Low, Platform: API, Priority: High, Status: Review Needed, Type: Enhancement

#367 Add annotation project and models
  backend/annotation/__init__.py
  backend/annotation/admin.py
  backend/annotation/apps.py
  backend/annotation/migrations/__init__.py
  backend/annotation/models.py
  backend/annotation/tests.py
  backend/annotation/urls.py
  backend/annotation/views.py
Labels: Effort: Low, Platform: API, Priority: Critical, Status: Review Needed

#371 Modifications to text_search endpoint
  backend/project/views.py
Labels: Effort: Low, Priority: High, Status: Review Needed

#377 Add annotation endpoints
  backend/annotation/models.py
  backend/annotation/urls.py
  backend/annotation/views.py
  backend/api/urls.py
  backend/api/utils.py
  backend/project/views.py
Labels: Effort: Medium, Platform: API, Priority: Critical, Status: Review Needed

#380 #312 implement single project
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/karpuz/karpuz/Activity/HomeActivity.kt
  android/app/src/main/java/com/karpuz/karpuz/Activity/LoginActivity.kt
  android/app/src/main/java/com/karpuz/karpuz/Activity/ProjectActivity.kt
  android/app/src/main/java/com/karpuz/karpuz/Adapter/ProjectsAdapter.kt
  android/app/src/main/java/com/karpuz/karpuz/Fragment/ProfileFragment.kt
  android/app/src/main/java/com/karpuz/karpuz/Fragment/ProjectsFragment.kt
  android/app/src/main/java/com/karpuz/karpuz/Network/KarpuzAPI.kt
  android/app/src/main/java/com/karpuz/karpuz/Network/KarpuzAPIModels.kt
  android/app/src/main/java/com/karpuz/karpuz/Network/KarpuzAPIProvider.kt
  android/app/src/main/java/com/karpuz/karpuz/Network/KarpuzAPIService.kt
  android/app/src/main/java/com/karpuz/karpuz/Network/MockKarpuzAPIProvider.kt
  android/app/src/main/java/com/karpuz/karpuz/ViewModel/ProjectViewModel.kt
  android/app/src/main/java/com/karpuz/karpuz/ViewModel/UserViewModel.kt
  android/app/src/main/res/drawable/karpuz_logo.png
  android/app/src/main/res/drawable/logout_menu_icon.png
  android/app/src/main/res/layout/activity_project.xml
  android/app/src/main/res/layout/fragment_profile.xml
  android/app/src/main/res/layout/project_cell.xml
  android/app/src/main/res/menu/profile.xml
  android/app/src/main/res/values/colors.xml
Labels: Effort: Low, Platform: Android, Type: Bug

#390 Bug in portfolio addition
  frontend/src/components/DateTimePicker/DateTimePicker.jsx
  frontend/src/components/Header/Header.jsx
  frontend/src/components/Modal/AddPortfolioModal.jsx
  frontend/src/components/Modal/AddProjectModal.jsx
Labels: Priority: Critical

#395 Create threading for new tag creation
  backend/api/semantic_tags.py
  backend/requirements.txt
Labels: Effort: Medium, Platform: API, Priority: Critical, Status: Completed, Type: Bug

#396 Develop
  backend/project/views.py
  data/README.md
  data/dump/karpuzDB/annotation.bson
  data/dump/karpuzDB/annotation.metadata.json
  data/dump/karpuzDB/bids.bson
  data/dump/karpuzDB/bids.metadata.json
  data/dump/karpuzDB/body.bson
  data/dump/karpuzDB/body.metadata.json
  data/dump/karpuzDB/conversations.bson
  data/dump/karpuzDB/conversations.metadata.json
  data/dump/karpuzDB/messages.bson
  data/dump/karpuzDB/messages.metadata.json
  data/dump/karpuzDB/milestones.bson
  data/dump/karpuzDB/milestones.metadata.json
  data/dump/karpuzDB/portfolios.bson
  data/dump/karpuzDB/portfolios.metadata.json
  data/dump/karpuzDB/projects.bson
  data/dump/karpuzDB/projects.metadata.json
  data/dump/karpuzDB/ratings.bson
  data/dump/karpuzDB/ratings.metadata.json
  data/dump/karpuzDB/tag_relations.bson
  data/dump/karpuzDB/tag_relations.metadata.json
  data/dump/karpuzDB/tags.bson
  data/dump/karpuzDB/tags.metadata.json
  data/dump/karpuzDB/target.bson
  data/dump/karpuzDB/target.metadata.json
  data/dump/karpuzDB/users.bson
  data/dump/karpuzDB/users.metadata.json
  data/dump/karpuzDB/wallets.bson
  data/dump/karpuzDB/wallets.metadata.json
  data/flow.py
  data/freelancer_project.py
  data/freelancer_user.py
  data/profile_pics.zip
  data/projects.json
  data/users.json
Labels: Effort: Low, Platform: API, Priority: Critical, Type: Bug

#398 recommendation engine optimization
  backend/api/recommendation_engine.py
  backend/api/semantic_tags.py
Labels: Effort: Medium, Platform: API, Priority: High

#400 global variable usage fixed in recommendation engine
  backend/api/recommendation_engine.py
Labels: Effort: Medium, Platform: API, Priority: High, Type: Bug

#407 Order projects by created_at desc
  backend/project/views.py
Labels: Effort: Low, Platform: API, Priority: Critical, Status: Completed, Type: Bug
